.sidebar {
  background-color: rgb(231, 117, 117);
  border: 4px solid black;
  padding: 2px;
  margin: 20px;
  float: right;
  width: 25%;
}

.column {
  width: 510px;
  float: left;
}
.live {
  float: left;
  padding: 10px;
}

.bottom {
  padding: 50px;
}

.Middle {
  padding: 50px;
}
